body{
  height: 100vh;
  width: 100vw;
}

.lfMap{
  height: 100vh;
  width: 100vw;
}

.map-fab{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10000;
}

.pickerMap{
    height: 30vh;
    width: 100%;
}